branches:
  only:
    - master

language: python

services:
  - mongodb

python:
  - 2.6
  - 2.7

env:
  - DJANGO_VERSION=1.4
  - DJANGO_VERSION=1.5
  - DJANGO_VERSION=1.6-beta

matrix:
  allow_failures:
    - env: DJANGO_VERSION=1.4

install:
  - pip install git+http://github.com/django-nonrel/django@nonrel-$DJANGO_VERSION
  - pip install git+http://github.com/django-nonrel/django-dbindexer@master
  - pip install git+http://github.com/django-nonrel/djangotoolbox@master
  - python setup.py install

script: cd tests && python runtests.py
