pymongo
https://github.com/django-nonrel/djangotoolbox/tarball/develop
https://github.com/django-nonrel/django-nonrel/tarball/develop
https://github.com/django-nonrel/django-dbindexer/tarball/develop
